body{
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #E91E63 79px, #E91E63 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
}

.projects{
  font-size:4rem;
  font-family: 'Patrick Hand', cursive;

}

a, a:focus, a:hover{
  color: #2FCDC5 !important;
}

.table>tbody>tr>td{
  padding:0 !important;
}

.title{
  font-family: 'Patrick Hand', cursive;
  color: #a41ee9
}

h1{
  font-size:65px !important;
}

h3{
  font-size:40px !important;
}

.social{
  padding-right: 2rem;
}
