body{
  background-image: url(img/bb01.jpg);
  overflow:hidden;
}

.out{
  padding:4em;
}
.site{
  background: rgba(255, 255, 255, 0.6);
  padding:1em;
  height:70vh;
}

.logo{
  height:5em;
  overflow:hidden;
}

.logo-img{
  height:5em;
}
