body{
  background-image: url(img/bb01.jpg);
  overflow:hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

h3{
  font-size:24px;
}

.out{
  padding:4em;
  background:transparent;
}
.site{
  background: rgba(255, 255, 255, 0.6);
  padding:1em;
  height:70vh;
  border-radius:2%;
}

.site-b{
  background: rgba(255, 255, 255, 0.6);
  padding:1em;
  height:80vh;
  border-radius:2%;
}

.logo{
  height:5em;
  overflow:hidden;
}

.logo-img{
  height:5em;
}

.car{
  height:50vh;
  background: radial-gradient(#E5CDB0, #7C452D, #5D341A);
  border-radius:2%;;
}

a.right.carousel-control{
  border-radius:4%;
}

a.left.carousel-control{
  border-radius:4%;
}
.car-text{
  /*padding-bottom:10em;*/
}

.car-img{
  height:5em;
  margin-right:5em;
}

img.img-responsive.car-img{
  height:35vh;
  padding-left:25em;
  padding-top:2em;
  padding-bottom:0;
}

.carousel-caption.car-text{
  bottom:-20px;
  padding-left:15em;
}

.story-text{
  padding:0 5em;
}

.story-img{
  height:7em;
}
