body{
  overflow-x: hidden;
}
/*navbar*/
.nav-text{
  text-align:center;
}

ul.nav.navbar-nav{
  display: inline-block;
  float: none;
}

.navbar-default{
  background-color: rgba(255,255,255,.7);
  /*opacity:.5;*/
  border: none;
}
/*header*/
.background {
    position: absolute;
    top:0;
    left:0;
    z-index: -999;
    width: 100%;
    height: 100%;
}

.row{
  clear: both;
}

video{
  object-fit:cover;
  width: 100%;
  /*height:30%;*/
}

.vid_container{
  height:30em;
  overflow:hidden;
}

.title{
  position: absolute;
  top:0px;
  padding: 14em;
  color: #fff;
  width:100%;
  height:30em;
}

/*about*/

p{
  text-align:justify;
  padding-bottom: 1em;
}

.about-title{
  padding: 1em 0;
}

.about-pic{
  overflow:hidden;
  height: 30em;
  margin: 0 auto;
  margin-top:-1em;
}
