body{
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}
/*navbar*/
.nav-text{
  text-align:center;
}

li.list:link, li.list:visited, li.list:hover, li.list:active{
  color:black;
}
.list{
  padding: 0 1em;
  font-size:1.5em;
}
ul.nav.navbar-nav{
  display: inline-block;
  float: none;
}

.navbar-default{
  background-color: rgba(255,255,255,.7);
  /*opacity:.5;*/
  border: none;
}
/*header*/
.background {
    position: absolute;
    top:0;
    left:0;
    z-index: -999;
    width: 100%;
    height: 100%;
}

.row{
  clear: both;
}

video{
  object-fit:cover;
  width: 100%;
  /*height:30%;*/
}

.vid_container{
  height:30em;
  overflow:hidden;
}

.title{
  position: absolute;
  top:0px;
  padding: 11em;
  color: #fff;
  width:100%;
  height:30em;
  font-family: 'Roboto Condensed', sans-serif;
}

.title-text{
  text-shadow: 2px 3px 3px rgba(0,0,0,0.7), 0px 4px 0px rgba(0,0,0,0.8);
  font-size: 6em;

}
/*about*/
#About{
  padding: 1em 7em;
}

p{
  text-align:justify;
  padding-bottom: 1em;
}

.about-title{
  padding: 1em 0;
}

.about-pic{
  overflow:hidden;
  height: 25em;
  margin: 0 auto;
  margin-top:-1em;
}

/*facts*/
#Facts{
  background-color:rgba(220,246,220,.3);
  padding: 1em 7em;
}

ul{
  margin-top:7em;
}

/*Visit*/
#Visit{
  padding:1em 5em;
}

/*banner*/
.banner{
  background-color:rgba(220,246,220,.3);
  height:15em;
  padding:3em;
}
