body{
  background-color: #07276f;
}

.moana{
  margin-top:40%;
}

.moana-img{
  width:90%;
}

.modal-dialog.modal-sm{
  width: 95vw;
}

#wrapper.toggled{
  padding-left: 30%;
}

#wrapper.toggled #sidebar-wrapper{
      width: 30%;
}

#sidebar-wrapper{
  left: 30%;
  margin-left: -30%;
}
