body{
  background-color: #07276f;
}

.moana{
  margin-top:30%;
}

.moana-img{
  width:90%;
}

.modal-dialog.modal-sm{
  width: 95vw;
}

#wrapper.toggled{
  padding-left: 30%;
}

#wrapper.toggled #sidebar-wrapper{
      width: 30%;
}

#sidebar-wrapper{
  left: 30%;
  margin-left: -30%;
}

iframe{
  width:100%;
  height:100%;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

footer{
  position: absolute;
  bottom: 0;
  height: 2em;
  width: 100vw;
}

.fot{
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.about-text{
  text-align: justify;
}

.modal-vid{
  height: 19em;
  width: 100%;
}

@media screen and (min-width: 600px){
  .modal-vid{
    height: 29em;
    width: 40em;
  }
}
@media screen and (min-width:750px){
  .moana{
    margin-top: 20%;
    width:90vw;
  }

  .modal-vid{
    height:27em;
  }

  .modal-gal{
    /*height:32em;*/
  }

  .about-text{
    text-align: justify;
    padding: 0 3em;
  }
}

@media screen and (min-width:850px){
  .moana{
    /*margin-top: 10%;*/
    width:90vw;
  }

  .modal-vid{
    height:27em;
  }

  .modal-gal{
    height:40em;
  }
}


@media screen and (min-width:950px){
  .moana{
    margin-top: 2%;
  }

  .modal-vid{
    height:30em;
    width:60vw;
  }
}
